@font-face {
    font-family: 'Cafe24 Decoschool';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Decoschool/Cafe24Decoschool.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Decoschool/Cafe24Decoschool.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Decoschool/Cafe24Decoschool.ttf') format('truetype');
}
